
body{
    background-color: #f5f5f5;
}

#orders .banner_x {
    height: 100px;
}


#orders .banner_x .wdgwc {
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 24px;
}
#orders .banner_x .wxts {
    height: 90px;
    line-height: 105px;
    font-size: 12px;
    color: #777777;
}

.fl {


    float: left;
}
.ml20 {
    margin-left: 20px;
}

#order-main{
    position: relative;
    padding: 10px 20px 20px;
    background-color: #fff;
    margin-bottom: 20px;

}

#order-main .mt{
    padding: 10px 0;
    overflow: hidden;
    zoom: 1;
}

.mt .extra-l{
    float: left;

}

.extra-l li{
    float: left;
    padding: 0;
    padding-right: 20px;
}

.extra-l li a.curr{
    padding-bottom: 0;
    color: #e4393c;
    border-bottom: 2px solid #e4393c;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

a.txt{
    display: inline-block;
    vertical-align: middle;
    color: #333;
    padding-bottom: 2px;
}

.extra-r{
    float: right;

}

.extra-r .search{
    position: relative;
    top: -3px;
}

.serach input{
    float: left;
    width: 158px;
    height: 23px;
    line-height: 18px;
    padding: 2px 5px 3px;
    border: 1px solid #ccc;
    color: rgb(204, 204, 204);
}

.search-btn{
    position: relative;
    float: left;
    width: 52px;
    height: 23px;
    line-height: 99em;
    overflow: hidden;
    border: 1px solid #ddd;
    border-left: 0;
    text-align: center;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f3f2f2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7f7f7),color-stop(1,#f3f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f2f2', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f2f2');
    background-image: -webkit-linear-gradient(top,#f7f7f7 0,#f3f2f2 100%);
    background-image: linear-gradient(to bottom,#f7f7f7 0,#f3f2f2 100%);
}

.search-btn i{
    position: absolute;
    left: 17px;
    top: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    overflow: hidden;
}

#order-list {
    width: 100%;
    border-collapse: collapse;
}

#order-list .number-col {
    width: 589px;
}

#order-list .consignee-col {
    width: 115px;
}
#order-list .amount-col {
    width: 110px;
}
#order-list .status-col {
    width: 110px;
}
#order-list .operate-col {
    width: 115px;
}
#order-list thead th{
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #666;
    font-weight: 400;
}

#order-list .order-detail-txt{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#order-list .ordertime-count{
    position: relative;
    float: left;
    z-index: 10;
    width: 138px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 12px;
    border: 1px solid #f5f5f5;
}

#order-list .sep-row {
    height: 20px;
}
#order-list .sep-row td {
    border: 0;
}

#order-list  .tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}

#order-list  .tr-th  td{
    border-bottom-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    position: relative;
    font-size: 12px;
}
#order-list .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    _display: inline;
}

.tr-th .gap{
    width: 14px;
}

.tr-th .dealtime {
    margin-right: 30px;
    _margin-right: 15px;
    font-family: verdana;
}

.tr-th .number {
    width: 260px;
    font-family: verdana;
}

.tr-th .delete {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    font-size: 13px;
    display: none;
}

#order-list tbody:focus .delete,#order-list tbody:hover .delete{
    display: inline-block;

}

.tr-th a {
    color: #333;
}

#order-list .tr-bd{
    text-align: center;
    vertical-align: top;
}

#order-list .tr-bd td {
    padding: 14px 0;
}

#order-list tbody td {
    border: 1px solid #e5e5e5;
}

#order-list .goods-item {
    display: inline-block;
    display: block;
    float: left;
    width: 255px;
    margin-right: 10px;
}

#order-list .goods-item{
    width: 340px;
    margin-right: 74px;
}

#order-list .goods-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#order-list .goods-item .p-img{
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 14px;
    overflow: hidden;
}

#order-list .goods-item .p-img img{
    width: 60px;
    height: 60px;
}

#order-list .goods-item .p-msg {
    width: 240px;
    float: left;
}

#order-list .goods-item .p-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #333;
    text-align: left;
    font-size: 12px;
}

#order-list .goods-item .p-name a {
    color: #333;
}

#order-list .goods-number {
    float: left;
    text-align: left;
    color: #aaa;
    width: 70px;
    font-size: 12px;
}

#order-list .goods-repair {
    float: right;
    width: 104px;
    text-align: center;
}

#order-list .tooltip{
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
    color: #333;
    opacity: 1;
    text-align: center;
}

#order-list .tooltip .txt {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 72px;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#order-list .status {
    position: relative;
    z-index: 5;
    color: #333;
    line-height: 22px;
    font-size: 12px;
}

.amount {
    color: #AAA;
    font-size: 12px;
}

.amount .ftx-13 {
    display: block;
    margin: 0 8px;
    margin-top: 5px;
    padding-top: 1px;
    border-top: solid 1px #E5E5E5;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
}

.operate {
    line-height: 22px;
}

a.btn-again {
    display: inline-block;
    padding: 2px 0 3px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 2px;
    width: 85px;
    text-align: center;
    font-size: 12px;
}

a.btn-again b {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 12px;
    height: 17px;
    margin-right: 5px;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -22px -180px no-repeat;
}